// UI
.preloader {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  &__svg {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 2px;
    strong {
    }
  }
}
.not-found {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
  img {
    max-width: 100%;
    object-fit: cover;
  }
  &__btn-wrapper {
    width: 100%;
    max-width: 250px;
    margin-top: 30px;
  }
}
.fail {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  &__text {
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 1px;
  }
}
