/* stylelint-disable scss/no-global-function-names */
/* stylelint-disable no-invalid-position-at-import-rule */
@use 'sass:math';

// === <ПЕРЕМЕННЫЕ> ===================================================
$maxWidthContainer: 1130;
$maxWidth: 1920;

// === <МИКСИНЫ> ======================================================
@import 'mixins/mixins';

// === <ШРИФТЫ ЛОКАЛЬНЫЕ> =============================================
@import 'blocks/fonts';

// === <ОБНУЛЕНИЕ> ====================================================
@import 'blocks/null';

html,
body {
  scrollbar-color: #c1c1c1 #f0f0f0;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 8px;
    &:hover {
      background-color: darken(#c1c1c1, 10%);
    }
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background-color: #f0f0f0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #363636;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//<ОБОЛОЧКА>============================================================
#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

// === <КОНТЕЙНЕР> =====================================================
._container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

// <ПОДКЛЮЧЕНИЕ ГОТОВЫХ КЛАССОВ>========================================
@import 'blocks/ui';

// === <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> =================
@import 'pages/posts';
@import 'pages/article';

// === <ОСНОВНОЙ БЛОК> =================================================
.page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-bottom: 45px;
  &__preloader {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
  }
  &__fail {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
  }
}
